<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../css/vendor/normalize.css"/>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"/>
	<link rel="stylesheet" href="../css/home.css"/>
	<script src="../js/vendor/prefixfree.min.js"></script>
	<title>Home page</title>
</head>
<body>
	<section class="preload"><i class="fa fa-4x fa-circle-o-notch fa-spin"></i></section>
	<section class="main">
		<header>
			<nav class="navbar">
				<!-- brand -->
				<a href="#" class="brand">Oh yeah!<i class="fa fa-2x fa-hand-o-right"></i></a>
				<!-- menu -->
				<ul class="menu">
					<li><a href="#">Messages<i class="fa fa-envelope"></i></a></li>
					<li>
						<a href="#">John doe<i class="fa fa-caret-down"></i></a>
						<ul>
								<li><a href="#" id="profile-img">
									<img src="http://i.imgur.com/IxWfQy2.jpg"/></a>
								</li>
								<li><a href="#">Profile<i class="fa fa-user"></i></a></li>
								<li><a href="#">Settings<i class="fa fa-cog"></i></a></li>
								<li><a href="#" id="logout">Logout<i class="fa fa-sign-out"></i></a></li>
							</ul>
					</li>
				</ul>
			</nav>
		</header>
	</section>
	<script src="../js/homeui.js"></script>
</body>
</html>
